
<!-- Welcome, {{ FirstName }}!-->
<pgcard (onRefresh)="sampleRefresh()" [Loading]="false" [ShowMessage]="errorMessage" [Message]="message">
  <ng-template #CardTitle>Welcome, Caio!</ng-template>
  
  <h3>Your <span class="semi-bold">Account</span></h3>
  <p>Here's a quick look on your account</p>
  <br>
 <div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <pgcard (onRefresh)="sampleRefresh()" [MinimalHeader]="true" [Type]="transparent">
        <ng-template #CardTitle>Sample</ng-template>
        <h3>
        <span class="semi-bold">Advance</span> Tools</h3>
        <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
        <br>
      </pgcard>
    </div>
    <div class="col-lg">
      <pgcard (onRefresh)="sampleRefresh()" [MinimalHeader]="true" [Type]="transparent">
        <ng-template #CardTitle>Sample</ng-template>
        <h3>
        <span class="semi-bold">Advance</span> Tools</h3>
        <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
        <br>
      </pgcard>
    </div>
    <div class="col-lg">
      <pgcard (onRefresh)="sampleRefresh()" [MinimalHeader]="true" [Type]="transparent">
        <ng-template #CardTitle>Sample</ng-template>
        <h3>
        <span class="semi-bold">Advance</span> Tools</h3>
        <p>We have crafted Pages Cards to suit any use case. Add a maximize button <i class="pg-fullscreen"></i> into your Cards controls bar to make the Cards go full-screen. This will come handy if you want to show lot of content inside a Cards and want to give the content some room to breath</p>
        <br>
      </pgcard>
    </div>
  </div>
 </div>         
</pgcard>

<!-- Your Processes -->
<pgcard (onRefresh)="sampleRefresh()" [Loading]="false" [ShowMessage]="errorMessage" [Message]="message">
   
    <h3>Your <span class="semi-bold">Documents</span></h3>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg">
          <ngx-datatable class='table table-hover'>
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                  <button class="btn btn-link"><i class="pg pg-trash"></i>
                  </button>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <div class="checkbox d-flex align-items-center">
                  <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                  <label for="checkbox_1{{rowIndex}}"></label>
              </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Title" cellClass="d-flex align-items-center"></ngx-datatable-column>
            <ngx-datatable-column name="Place" cellClass="d-flex align-items-center">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a href="javascript:;" *ngFor="let value of row.places" class="btn btn-tag">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Activities" cellClass="d-flex align-items-center"></ngx-datatable-column>
            <ngx-datatable-column name="Status" cellClass="d-flex align-items-center"></ngx-datatable-column>
            <ngx-datatable-column name="Last Update" cellClass="d-flex align-items-center"></ngx-datatable-column>
          </ngx-datatable>      
        </div>
      </div>
    </div>         
  </pgcard>

<!-- Your Processes -->
<pgcard (onRefresh)="sampleRefresh()" [Loading]="false" [ShowMessage]="errorMessage" [Message]="message">
   
  <h3>Your <span class="semi-bold">Processes</span></h3>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <ngx-datatable class='table table-hover'>
          <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                <button class="btn btn-link"><i class="pg pg-trash"></i>
                </button>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="checkbox d-flex align-items-center">
                <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
                <label for="checkbox_1{{rowIndex}}"></label>
            </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Title" cellClass="d-flex align-items-center"></ngx-datatable-column>
          <ngx-datatable-column name="Place" cellClass="d-flex align-items-center">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a href="javascript:;" *ngFor="let value of row.places" class="btn btn-tag">{{value}}</a>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Activities" cellClass="d-flex align-items-center"></ngx-datatable-column>
          <ngx-datatable-column name="Status" cellClass="d-flex align-items-center"></ngx-datatable-column>
          <ngx-datatable-column name="Last Update" cellClass="d-flex align-items-center"></ngx-datatable-column>
        </ngx-datatable>      
      </div>
    </div>
  </div>         
</pgcard>

<!-- Calendar -->
<pgcard (onRefresh)="sampleRefresh()" [MinimalHeader]="true" [Type]="transparent">
  <h3>
  <span class="semi-bold">What's next?</span></h3>
  <p>TODO Calendar</p>
  <br>
</pgcard>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <bar-tile-widget></bar-tile-widget>
    </div>
    <div class="col-lg">
      <image-widget></image-widget>
    </div>
    <div class="col-lg">
      <graph-options-widget></graph-options-widget>
    </div>

  </div>
</div>



